{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" id="nav-breadcrumb" hx-swap-oob="true">
  <ul>
    <li>Profile</li>
    <li><a href="#" hx-target="#body-main" hx-get="{{ request.path }}">{{ session["login"] }}</a></li>
  </ul>
</nav>
{% endblock breadcrumb %}

{% block body %}

<article hx-trigger="htmx:afterRequest[event.detail.successful==true] from:#profile-form" hx-select="#profile-form" hx-get="/profile/" hx-target="#profile-form">
  <h6>Profile data</h6>
  <form hx-trigger="submit throttle:1s" hx-patch="/profile/edit" id="profile-form">

    {% with
      schema=schemas.user_profile,
      current_data=data.user.profile
    %}
      {% include "includes/form_builder.html" %}
    {% endwith %}

    <button data-loading-disable data-loading-aria-busy type="submit">Save changes</button>

  </form>

</article>

{% include "profile/includes/credentials.html" %}

{% endblock body %}
