<tr>
  <td>
    <input type="checkbox" class="multiselect" name="id" value="{{ object.id }}" autocomplete="off">
    <a href="#" hx-target="#body-main" hx-push-url="true" hx-get="/my/{{ request.view_args.get("object_type") }}/{{ object.id }}">
        {{- object.name -}}
    </div>
  </td>
  <td class="created-modified">
    <small _="init js return new Date('{{ object.created }}').toLocaleString() end then put result into me">{{ object.created }}</small>
    {% if object.created != object.updated %}
      <br>&#9999;&#65039; <small _="init js return new Date('{{ object.updated }}').toLocaleString() end then put result into me">{{ object.updated }}</small>
    {% endif %}
  </td>
</tr>
