{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" id="nav-breadcrumb" hx-swap-oob="true">
  <ul>
    <li>System</li>
    <li><a href="#" hx-target="#body-main" hx-get="{{ request.path }}">Status</a></li>
  </ul>
</nav>
{% endblock breadcrumb %}

{% block body %}

<h4>System Status</h4>

<article id="system-status">
  <p>You are connected to <mark>{{ CLUSTER_PEERS_ME }}</mark> (Requests: {{ data.status.WEB_REQUESTS }})</p>
  <div class="overflow-auto">
  <table>
    <tbody>
      <tr>
        <th scope="row" colspan="4">
          <h5>Cluster status</h5>
        </th>
      </tr>
      <tr>
        <th scope="row">Peer</th>
        <th scope="row">Errors<sup>1</sup></th>
        <th scope="row">Meta <sup>2</sup></th>
      </tr>
      {% for peer in CLUSTER_PEERS_THEM %}
      <tr>
        <th scope="row"><code>{{ peer }}</code></th>
        <td _="on htmx:afterRequest[event.detail.successful==true]
          put '' into me
        end
        ">
          {% set PEER_CRIT = data.status.PEER_CRIT.get(peer, None) %}
          {% if PEER_CRIT %}
            <b class="color-red">{{ PEER_CRIT }}</b>
          {% endif %}
        </td>
        <td>
          <small>
          {% for k, v in data.status.CLUSTER_CONNECTIONS.get(peer, {}).get("meta", {}).items() %}
            {{ k|capitalize }}: {{ v }}<br>
          {% else %}
            <b class="color-red">No active connection</b>
          {% endfor %}
          </small>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div hx-trigger="htmx:afterRequest[event.detail.successful==true] from:button"
    hx-swap="outerHTML"
    hx-get="/system/status"
    hx-target="#system-status"
    hx-select="#system-status">

    {% if not ENFORCE_DBUPDATE  %}
    <button type="submit"
      hx-trigger="click queue:first"
      hx-confirm="This action will overwrite table data on nodes with a mismatching database, are you sure?"
      hx-post="/system/cluster/db/enforce-updates" hx-vals='{"toggle": "on"}' hx-target="#nav-sub-secondary">
        🟢 Enforce database updates
    </button>
    {% else %}
    <button type="submit" hx-trigger="click queue:first"
      hx-post="/system/cluster/db/enforce-updates" hx-vals='{"toggle": "off"}'>
        🔴 Stop enforcing database updates
    </button>
    {% endif %}

    {% if ENFORCE_DBUPDATE and request.headers.get("Hx-Request") %}
    <div id="enforce-dbupdate" hx-swap-oob="outerHTML">
      <button data-tooltip="Enforced database updates are enabled"
          class="button-red-800"
          id="enforce-dbupdate-button"
          hx-get="/system/status"
          _="on load call countdownSeconds(me, {{ ENFORCE_DBUPDATE }}) end">
            !!!
      </button>
    </div>
    {% endif %}

  </div>

  <p class="no-text-wrap">
    <small>
      <sup>1</sup> Critical protocol errors (e.g. checksum mismatches).<br>
      <sup>2</sup> The cluster status is updated every {{ CLUSTER_HEALTH_INTERVAL }} seconds (plus jitter) and modifying requests (lazy-update).<br>
    </small>
  </p>
  </div>
</article>

{% endblock body %}

