{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" id="nav-breadcrumb" hx-swap-oob="true">
  <ul>
    <li>System</li>
    <li><a href="#" hx-target="#body-main" hx-get="{{ request.path }}">Status</a></li>
  </ul>
</nav>
{% endblock breadcrumb %}

{% block body %}

<h4>System Status</h4>

<article id="system-status">
  <div class="overflow-auto">
  <table id="system-status-table">
    <thead>
      <tr>
        <th scope="row" colspan="3">
          <b>Cluster status</b>
          - <a href="#"
            hx-on:click="!window.s?s=this.textContent:null;this.textContent='Throttling...';setTimeout(()=>{this.textContent=s}, 1000)"
            hx-target="#system-status-table-body"
            hx-select="#system-status-table-body"
            hx-swap="outerHTML"
            hx-post="/system/cluster/update-status"
            hx-trigger="click throttle:1000ms"
            hx-vals="">
            Request status update
          </a>
        </th>
      </tr>
    </thead>
    <tbody id="system-status-table-body">
      <tr>
        <th scope="col">Peer</th>
        <th scope="col">Errors<sup>1</sup></th>
        <th scope="col">Meta <sup>2</sup></th>
      </tr>
      <tr>
        <th scope="row">
          {{ data.status.CLUSTER___META.name }}<br>
          <span class="color-cyan-350">* this node</span>
        </th>
        <td></td>
        <td>
          <small>
          {% for k, v in data.status.CLUSTER___META.items() %}
            {{ k|capitalize }}: {{ v }}<br>
          {% endfor %}
          </small>
        </td>
      </tr>
      {% for peer in CLUSTER_PEERS if not peer.self %}
      <tr>
        <th scope="row">
          {{ peer.name }}
        </th>
        <td _="on htmx:afterRequest[event.detail.successful==true]
          put '' into me
        end
        ">
          {% set PEER_CRIT = data.status.PEER_CRIT.get(peer.name, None) %}
          {% if PEER_CRIT %}
            <b class="color-red">{{ PEER_CRIT }}</b>
          {% endif %}
        </td>
        <td>
          <small>
          {% for k, v in data.status.CLUSTER_CONNECTIONS.get(peer.name, {}).get("meta", {}).items() %}
            {{ k|capitalize }}: {{ v }}<br>
          {% else %}
            <mark>No active connection</b>
          {% endfor %}
          </small>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div hx-trigger="htmx:afterRequest[event.detail.successful==true] from:button"
    hx-swap="outerHTML"
    hx-get="/system/status"
    hx-target="#system-status"
    hx-select="#system-status">

    {% if not ENFORCE_DBUPDATE  %}
    <button type="submit"
      hx-trigger="click queue:first"
      hx-confirm="This action will overwrite table data on nodes with a mismatching database, are you sure?"
      hx-post="/system/cluster/db/enforce-updates" hx-vals='{"toggle": "on"}' hx-target="#nav-sub-secondary">
        🟢 Enforce database updates
    </button>
    {% else %}
    <button type="submit" hx-trigger="click queue:first"
      hx-post="/system/cluster/db/enforce-updates" hx-vals='{"toggle": "off"}'>
        🔴 Stop enforcing database updates
    </button>
    {% endif %}

    {% if ENFORCE_DBUPDATE and request.headers.get("Hx-Request") %}
    {# oob-swapping a button to menu #}
    <div id="enforce-dbupdate" hx-swap-oob="outerHTML">
      <button data-tooltip="Enforced database updates are enabled"
          class="button-red-800"
          id="enforce-dbupdate-button"
          hx-get="/system/status"
          _="on load call countdownSeconds(me, {{ ENFORCE_DBUPDATE }}) end">
            !!!
      </button>
    </div>
    {% endif %}
    <hr>
  </div>

  <p class="no-text-wrap">
    <small>
      <sup>1</sup> Critical protocol errors (e.g. checksum mismatches).<br>
      <sup>2</sup> The cluster status is updated every {{ CLUSTER_HEALTH_INTERVAL }} seconds (plus jitter) and modifying requests (lazy-update).<br>
    </small>
  </p>
  </div>
</article>

{% endblock body %}

