{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" id="nav-breadcrumb" hx-swap-oob="true">
  <ul>
    <li>System</li>
    <li><a href="#" hx-target="#body-main" hx-get="{{ request.path }}">Users</a></li>
  </ul>
</nav>
{% endblock breadcrumb %}

{% block body %}

<details name="users-groups">
  <summary role="button" class="button-slate-800">Manage Groups</summary>
  <section id="system-groups">
    {% include "system/includes/users/groups.html" %}
  </section>
</details>

<hr />

<div class="grid split-grid">
  <article id="system-users-full-table">
    {% include "system/includes/users/table.html" %}
  </article>
</div>

{% endblock body %}
