{% set header = True if not header == False %}
{% set footer = True if not footer == False %}
{% set delete_button = True if not delete_button == False %}
{% set toggle_all_button = True if not toggle_all_button == False %}

<form id="system-users-table-search"
  hx-trigger="load once, keyup changed from:input[name=q] delay:100ms, submit throttle:100ms"
  hx-post="/system/users/search"
  hx-target="#system-users-table-body">
  <input type="search" name="q"
    hx-on:keydown="event.keyCode==13?event.preventDefault():null"
    placeholder="Type to search"
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false">
</form>

<div class="overflow-auto">
  <table id="system-users-table">
    <tbody id="system-users-table-body"></tbody>
  </table>
</div>

{% include "system/includes/users/select.html" %}
