{% set header = True if not header == False %}
{% set footer = True if not footer == False %}
{% set delete_button = True if not delete_button == False %}
{% set toggle_all_button = True if not toggle_all_button == False %}

<form id="system-logs-form" hx-trigger="{% if request.headers.get("Hx-Request") %}load once, {% endif %}submit, htmx:wsOpen from:body" hx-get="/system/logs/refresh"></form>

<form id="system-logs-table-search"
  hx-trigger="logsReady, keyup changed from:input[name=q] delay:100ms, submit throttle:100ms"
  hx-post="/system/logs/search"
  hx-target="#system-logs-table-body">
  <fieldset role="group">
    <input type="search" name="q"
      hx-on:keydown="event.keyCode==13?event.preventDefault():null"
      placeholder="Type to search"
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false" />
      <input form="system-logs-form" hx-get="/system/logs/refresh?force=1" data-loading-disable type="submit" value="↺" />
    </fieldset>
</form>

<div class="overflow-auto">
  <p>
    Last remote update: <b id="system-logs-last-refresh">?</b> seconds ago<br>
    <small>Logs will be updated after {{ CLUSTER_LOGS_REFRESH_AFTER }} seconds if not enforced.</small>
  </p>
  <table id="system-logs-table">
    <tbody id="system-logs-table-body"></tbody>
  </table>
</div>
