{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" id="nav-breadcrumb" hx-swap-oob="true">
  <ul>
    <li>System</li>
    <li><a href="#" hx-target="#body-main" hx-get="{{ request.path }}">Status</a></li>
  </ul>
</nav>
{% endblock breadcrumb %}

{% block body %}

<h4>System Status</h4>

<article id="system-status">
  <p>You are connected to <mark>{{ CLUSTER_PEERS_ME }}</mark> (Requests: {{ data.status.web_requests }})</p>
  <div class="overflow-auto">
  <table>
    <tbody>
      <tr>
        <th scope="row" colspan="4">
          <h5>Cluster status</h5>
        </th>
      </tr>
      <tr>
        <th scope="row">Peer</th>
        <th scope="row">Consecutive connection failures <sup>1</sup></th>
        <th scope="row">Errors<sup>2</sup></th>
        <th scope="row">Meta <sup>3</sup></th>
      </tr>
      {% for peer in CLUSTER_PEERS_THEM %}
      <tr>
        <th scope="row"><code>{{ peer }}</code></th>
        <td _="on htmx:afterRequest[event.detail.successful==true]
          put 0 into me
        end
        ">
          {% set connection_failures = data.status.connection_failures.get(peer, 0) %}
          {% if connection_failures > CLUSTER_PEER_MAX_FAILURES %}
            <b class="color-red">failed</b> - <a href="#" hx-post="/system/cluster/reset-failed-peer" hx-vars='{"peer": "{{- peer -}}"}'>reset</a>
          {% elif connection_failures > 0 %}
            <b class="color-pumpkin">{{ connection_failures }}</b> - <a href="#" hx-post="/system/cluster/reset-failed-peer" hx-vars='{"peer": "{{- peer -}}"}'>reset</a>
          {% else %}
            {{ connection_failures }}
          {% endif %}
        </td>
        <td _="on htmx:afterRequest[event.detail.successful==true]
          put '' into me
        end
        ">
          {% set peer_critical = data.status.peer_critical.get(peer, None) %}
          {% if peer_critical %}
            <b class="color-red">{{ peer_critical }}</b>
          {% endif %}
        </td>
        <td>
          <small>
          {% for k, v in data.status.connections.get(peer, {}).get("meta", {}).items() %}
            {{ k|capitalize }}: {{ v }}<br>
          {% else %}
            <b class="color-red">No active connection</b>
          {% endfor %}
          </small>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div hx-trigger="htmx:afterRequest[event.detail.successful==true] from:button"
    hx-swap="outerHTML"
    hx-get="/system/status"
    hx-target="#system-status"
    hx-select="#system-status">

    {% if not ENFORCE_COMMIT_MODE  %}
    <button type="submit"
      hx-trigger="click queue:first"
      hx-confirm="This action will overwrite table data on nodes with a mismatching database, are you sure?"
      hx-post="/system/cluster/enforce-transaction/start" hx-target="#nav-sub-secondary">
        🟢 Start enforce transaction mode
    </button>
    {% else %}
    <button type="submit" hx-trigger="click queue:first"
      hx-post="/system/cluster/enforce-transaction/stop">
        🔴 Stop
    </button>
    {% endif %}

    {% if ENFORCE_COMMIT_MODE and request.headers.get("Hx-Request") %}
    <div id="enforce-commit" hx-swap-oob="outerHTML">
      <button data-tooltip="Enforced commit mode"
          class="button-red-800"
          id="enforce-commit-button"
          hx-get="/system/status"
          _="on load call countdownSeconds(me, {{ ENFORCE_COMMIT_MODE }}) end">
            !!!!
      </button>
    </div>
    {% endif %}

  </div>

  <p class="no-text-wrap">
    <small>
      <sup>1</sup> A failed connection attempt will increase the counter up to {{ CLUSTER_PEER_MAX_FAILURES }} (CLUSTER_PEER_MAX_FAILURES).
      A successful inbound connection as well as a manual reset will reset the counter to 0.
    </small><br>
    <small><sup>2</sup> Critical protocol errors (e.g. checksum mismatches).</small><br>
    <small><sup>3</sup> The cluster status is updated every {{ CLUSTER_HEALTH_INTERVAL }} seconds (plus jitter) and modifying requests (lazy-update).</small>
  </p>
  </div>
</article>

{% endblock body %}

