{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" id="nav-breadcrumb" hx-swap-oob="true">
  <ul>
    <li>System</li>
    <li><a href="#" hx-target="#body-main" hx-get="{{ request.path }}">Status</a></li>
  </ul>
</nav>
{% endblock breadcrumb %}

{% block body %}

<h4>System Status</h4>

<article id="system-status">
  <p>You are connected to <mark>{{ CLUSTER_PEERS_ME }}</mark></p>
  <div class="overflow-auto">
  <table>
    <tbody>
      <tr>
        <th scope="row" colspan="3">
          <h5>Cluster status</h5>
        </th>
      </tr>
      <tr>
        <th scope="row">Peer</th>
        <th scope="row">Consecutive failures <sup>1</sup></th>
        <th scope="row">Meta <sup>2</sup></th>
      </tr>
      {% for peer in CLUSTER_PEERS_THEM %}
      <tr>
        <th scope="row"><code>{{ peer }}</codekbd></th>
        <td _="on htmx:afterRequest[event.detail.successful==true]
          put 0 into me
        end
        ">
          {% set peer_failures = data.status.peer_failures.get(peer, {}) %}

          {% if peer_failures > CLUSTER_PEER_MAX_FAILURES %}
            <b class="color-red">failed</b> - <a href="#" hx-post="/system/cluster/reset-failed-peer" hx-vars='{"peer": "{{- peer -}}"}'>reset</a>
          {% elif peer_failures > 0 %}
            <b class="color-pumpkin">{{ peer_failures }}</b> - <a href="#" hx-post="/system/cluster/reset-failed-peer" hx-vars='{"peer": "{{- peer -}}"}'>reset</a>
          {% else %}
            {{ peer_failures }}
          {% endif %}
        </td>
        <td>
          <small>
          {% for k, v in data.status.connections.get(peer, {}).get("meta", {}).items() %}
            {{ k|capitalize }}: {{ v }}<br>
          {% else %}
            <b class="color-red">No active connection</b>
          {% endfor %}
          </small>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p class="no-text-wrap">
    <small><sup>1</sup> A failed peer will not be retried until its status is reset</small><br>
    <small><sup>2</sup> The cluster is updated in a lazy manner</small>
  </p>
  </div>
</article>

{% endblock body %}

