<div class="table-select grid-space-between">
  {% if toggle_all_button and toggle_all_button == True %}
  <div>
    <button class="secondary" _="on click call setCheckboxes(#{{ request.view_args.get("object_type") }}-table-body, 'toggle') end">All</button>
    <button class="secondary" _="on click call setCheckboxes(#{{ request.view_args.get("object_type") }}-table-body, 'invert') end">Invert</button>
  </div>
  {% endif %}

  {% if delete_button and delete_button == True %}
  <button data-loading-disable
    class="delete button-red"
    _="install confirmButton
      on htmx:afterRequest[event.detail.successful==true]
        trigger submit on #{{ request.view_args.get("object_type") }}-table-search
      end
    "
    hx-post="/objects/{{ request.view_args.get("object_type") }}/delete"
    hx-target="#body-main"
    hx-trigger="confirmedButton throttle:200ms"
    hx-include="[name='id']">Delete</button>
  {% endif %}
</div>
