{#

DATA FIELDS
  - current_data: dict # Data to fill form with, if any
  - schema: BaseModel.model_json_schema()
  - optional root_key to encapsulate a name in,
    i.e. a root_key "profile" for a field "email" becomes "profile.email"

#}

{% for k, v in schema.properties.items() if k not in without %}

  {% if v.type in ["text", "email", "number"] %}
    {% set readonly = True if "readonly" in v.input_extra else False %}
    <fieldset>
      <label for="{{ v.form_id }}">{{ v.title }} {{ "🚫" if readonly }}</label>
      <input {{ v.input_extra|safe }} id="{{ v.form_id }}"
        name="{% if root_key %}{{ root_key }}.{{ k }}{% else %}{{ k }}{% endif %}"
        type="{{ v.type }}"
        value="{{ current_data.get(k, v.default) }}">
      {% if v.description %}
      <small>{{ v.description|safe }}</small>
      {% endif %}
    </fieldset>

  {% elif v.type in ["date", "datetime-local"] %}
    {% set readonly = True if "readonly" in v.input_extra else False %}
    <fieldset>
      <label for="{{ v.form_id }}">{{ v.title }} {{ "🚫" if readonly }}</label>
      <input {{ v.input_extra|safe }} id="{{ v.form_id }}"
        name="{% if root_key %}{{ root_key }}.{{ k }}{% else %}{{ k }}{% endif %}"
        type="{{ v.type }}"
        value="{{ current_data.get(k, v.default) }}">
      {% if v.description %}
      <small>{{ v.description|safe }}</small>
      {% endif %}
    </fieldset>

  {% elif v.type == "select:multi" or v.type == "select" %}

    <fieldset>
      <label for="{{ v.form_id }}">{{ v.title }}</label>
      <select {{ v.input_extra|safe }}
        {% if v.type == "select:multi" %}
        multiple
        size="5"
        {% endif %}
        name="{% if root_key %}{{ root_key }}.{{ k }}{% else %}{{ k }}{% endif %}"
        id="{{ v.form_id }}">
        {% for option in v.options %}
        <option value="{{ option["value"] }}" {{ "selected" if option["value"] in current_data.get(k) or option["value"] == "" and not current_data.get(k) }}>{{ option["name"] }}</option>
        {% endfor %}
      </select>
      {% if v.description %}
      <small>{{ v.description|safe }}</small>
      {% endif %}
    </fieldset>

  {% elif v.type == "datalist" %}

    <fieldset>
      <label for="{{ v.form_id }}">{{ v.title }}</label>
      <input list="{{ v.form_id }}-datalist"
        name="{% if root_key %}{{ root_key }}.{{ k }}{% else %}{{ k }}{% endif %}"
        id="{{ v.form_id }}"
        value="{{ current_data.get(k, v.default) }}" {{ v.input_extra|safe }}>
      <datalist
        id="{{ v.form_id }}-datalist">
        {% for option in v.options %}
        <option value="{{ option }}">
        {% endfor %}
      </datalist>
      {% if v.description %}
      <small>{{ v.description|safe }}</small>
      {% endif %}
    </fieldset>

  {% elif v.type == "users:multi" or v.type == "users" %}

    {% if not user_options or user_options == [] %}
      <p>No users found</p>
    {% else %}
      <fieldset>
        <label for="{{ v.form_id }}">{{ v.title }}</label>
        <select {{ v.input_extra|safe }}
          {% if v.type == "users:multi" %}
          multiple
          size="5"
          {% endif %}
          name="{% if root_key %}{{ root_key }}.{{ k }}{% else %}{{ k }}{% endif %}"
          id="{{ v.form_id }}">
          {% for option in user_options %}
          <option value="{{ option["value"] }}" {{ "selected" if option["value"] in current_data.get(k) }}>{{ option["name"] }}</option>
          {% endfor %}
        </select>
        {% if v.description %}
        <small>{{ v.description|safe }}</small>
        {% endif %}
      </fieldset>
    {% endif %}

  {% elif v.type == "emailusers:multi" or v.type == "emailusers" %}

    {% if not object_emailuser_options or object_emailuser_options == [] %}
      <p>No email users available</p>
    {% else %}
      <fieldset>
        <label for="{{ v.form_id }}">{{ v.title }}</label>
        <select {{ v.input_extra|safe }}
          {% if v.type == "emailusers:multi" %}
          multiple
          size="5"
          {% endif %}
          name="{% if root_key %}{{ root_key }}.{{ k }}{% else %}{{ k }}{% endif %}"
          id="{{ v.form_id }}">
          <option value="">-- None --</option>
          {% for option in object_emailuser_options %}
          <option value="{{ option["value"] }}" {{ "selected" if option["value"] in current_data.get(k) }}>{{ option["name"] }}</option>
          {% endfor %}
        </select>
        {% if v.description %}
        <small>{{ v.description|safe }}</small>
        {% endif %}
      </fieldset>
    {% endif %}

  {% elif v.type == "list:text" or v.type == "list:number" %}

    {% set readonly = True if "readonly" in v.input_extra else False %}
    <template id="list:item">
      <div>
        <input {{ v.input_extra|safe }}
          name="{% if root_key %}{{ root_key }}.{{ k }}{% else %}{{ k }}{% endif %}"
          type="{{ "text" if v.type == "list:text" else "number" }}"
          placeholder="New element">
        <small><a href="#" _="on click halt the event then remove closest <div/> end">Remove</a></small>
      </div>
    </template>
    <fieldset id="{{ v.form_id }}" _="on click from .add-list-item in me halt the event then render #list:item then put the result at the end of me end">
      <legend>{{ v.title }} <a {{ "hidden" if readonly }} href="#" class="add-list-item">Add</a> {{ "🚫" if readonly }}</legend>
      {% for list_value in current_data.get(k, v.default) %}
      <div>
        <input {{ v.input_extra|safe }}
          name="{% if root_key %}{{ root_key }}.{{ k }}{% else %}{{ k }}{% endif %}"
          type="{{ "text" if v.type == "list:text" else "number" }}"
          value="{{ list_value }}">
        <small {{ "hidden" if readonly }}><a href="#" _="on click halt the event then remove closest <div/> end">Remove</a></small>
      </div>
      {% endfor %}
    </fieldset>
    {% if v.description %}
    <small>{{ v.description|safe }}</small>
    {% endif %}

  {% elif v.type == "radio" %}

    <fieldset>
      <legend for="{{ v.form_id }}">{{ v.title }}</legend>
      {% for radio_value in v.enum %}
      <label>
        <input {{ v.input_extra|safe }}
          id="{{ v.form_id }}"
          type="radio"
          value="{{ radio_value }}"
          name="{% if root_key %}{{ root_key }}.{{ k }}{% else %}{{ k }}{% endif %}"
          {{ "checked" if current_data.get(k, v.default) == radio_value }} />
        {{ radio_value|capitalize }}
      </label>
      {% endfor %}
      {% if v.description %}
      <small>{{ v.description|safe }}</small>
      {% endif %}
    </fieldset>

  {% elif v.type == "keypair" %}

    {% if not keypair_options or keypair_options == [] %}
      <p>No key pairs available</p>
    {% else %}
      <fieldset>
        <label for="{{ v.form_id }}">{{ v.title }}</label>
        <select {{ v.input_extra|safe }}
          name="{% if root_key %}{{ root_key }}.{{ k }}{% else %}{{ k }}{% endif %}"
          id="{{ v.form_id }}"
          _="on change or load get (@data-dns of <option:checked/> in me) as String put it into #dns-data-{{ v.form_id }} trigger validate on #dns-data-{{ v.form_id }} end">
          <option data-dns="" value="" {{ "selected" if current_data.get(k) == "" }}>-- None --</option>
          {% for option in keypair_options %}
          <option data-dns="{{ option["dns_formatted"] }}" value="{{ option["value"] }}" {{ "selected" if option["value"] == current_data.get(k) }}>{{ option["name"] }}</option>
          {% endfor %}
        </select>
        {% if v.description %}
        <small>{{ v.description|safe }}</small>
        <div hidden>
          <small><i>The required DNS TXT record's value for your convenience.</i></small>
          <textarea class="dns-data" rows="8" readonly id="dns-data-{{ v.form_id }}" _="
            on validate add @hidden to closest <div/> if my value is empty else remove @hidden from closest <div/> end end
            on click call my.setSelectionRange(0, -1) end">
          {{- "" -}}
          </textarea>
        </div>
        {% endif %}
      </fieldset>
    {% endif %}

  {% endif %}
{% endfor %}
