{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" id="nav-breadcrumb" hx-swap-oob="true">
  <ul>
    <li>Objects</li>
    <li><a href="#" hx-target="#body-main" hx-get="{{ request.path }}">{{ request.view_args.get("object_type")|capitalize }}</a></li>
  </ul>
</nav>
{% endblock breadcrumb %}

{% block body %}

<h4>Manage {{ request.view_args.get("object_type") }}</h4>

<div class="grid split-grid">
  <article>
    <hgroup>
      <h5>New object</h5>
      <p>Create an object by defining a unique name.</p>
    </hgroup>
    {% include "objects/includes/create/" ~ request.view_args.get("object_type") ~ ".html" %}
  </article>

  <article id="{{ request.view_args.get("object_type") }}-full-table">
    {% include "objects/includes/table.html" %}
  </article>
</div>

{% endblock body %}
