{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" id="nav-breadcrumb" hx-swap-oob="true">
  <ul>
    <li>Objects</li>
    <li><a href="#" hx-target="#body-main" hx-get="/objects/{{ request.view_args.get("object_type") }}">{{ request.view_args.get("object_type")|capitalize }}</a></li>
    <li><a href="#" hx-target="#body-main" hx-get="/objects/{{ request.view_args.get("object_type") }}/{{ object.id }}">{{ object.name }}</a></li>
  </ul>
</nav>
{% endblock breadcrumb %}

{% block body %}

<h4 id="object-name">{{ object.name }}</h4>

<div class="grid split-grid">
  <article>
    <hgroup>
      <h5>Object details</h5>
      <p>Modify the object details here.<br></p>
    </hgroup>
  </article>

  <article id="object-details"
    hx-trigger="htmx:afterRequest[event.detail.successful==true] from:#object-form"
    hx-target="this"
    hx-select="#object-details"
    hx-select-oob="#object-name"
    hx-swap="outerHTML"
    hx-get="/objects/{{ request.view_args.get("object_type") }}/{{ object.id }}">

    <form id="object-form" hx-trigger="submit throttle:200ms" hx-patch="/objects/{{ request.view_args.get("object_type") }}/{{ object.id }}">
      <fieldset>
        <label for="object-name">Name</label>
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="object-name"
          name="name"
          type="text"
          value="{{ object.name }}">
        <small>An object's name must be unique across objects of its type</small>
      </fieldset>

      <section>
        {% with
          schema=schemas["_" + request.view_args.get("object_type") + "_schema"],
          current_data=object.details,
          root_key="details"
        %}
          {% include "includes/form_builder.html" %}
        {% endwith %}
      </section>
      <button data-loading-disable type="submit">Update</button>
    </form>
  </article>
</div>

{% endblock body %}
