{#
  "hidden" is used to include both login and register forms in main.html while only showing either/or
#}
<form hx-ext="json-enc"
  data-loading-disable
  hx-trigger="submit throttle:1s"
  hx-post="/auth/pre-registration"
  class="login-register" id="register-form" {{ 'hidden' if hidden }}>
    <label for="login">Pick a username</label>
    <input type="text" id="login" name="login"
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      required>
    <label for="token">Token</label>
    <input type="text" id="token" name="token"
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      required>
    <button type="submit"
      id="register"
      hx-target="this"
      hx-swap="innerHTML">
        Start registration
    </button>
    <hr>
    <p>
      A token can be generated via <i>command line</i>:<br>
      <code>./shelltoken -g</code>
    </p>
</form>
