<tr>
  <td>
    <input type="checkbox" class="multiselect" name="id" value="{{ object.id }}" autocomplete="off">
    <a href="#" hx-target="#body-main" hx-push-url="true" hx-get="/objects/{{ request.view_args.get("object_type") }}/{{ object.id }}">
      {% set name = object.details.display_name|replace("%DOMAIN_DISPLAY_NAME%", object.details.assigned_domain.details.display_name) %}
      {% if name %}
        {{ name }}
      {% else %}
        {{ object.name }}
      {% endif %}
    </a>
    &#60;{{ object.details.local_part ~ "@" -}}
    <a class="secondary" href="#" hx-target="#body-main" hx-push-url="true" hx-get="/objects/domains/{{ object.details.assigned_domain.id }}">
      {{- object.details.assigned_domain.name -}}
    </a>
    {{- "&#62;"|safe -}}
  </td>
  <td class="created-modified">
    <small _="init js return new Date('{{ object.created }}').toLocaleString() end then put result into me">{{ object.created }}</small>
    {% if object.created != object.updated %}
      <br>&#9999;&#65039; <small _="init js return new Date('{{ object.updated }}').toLocaleString() end then put result into me">{{ object.updated }}</small>
    {% endif %}
  </td>
</tr>

