{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" id="nav-breadcrumb" hx-swap-oob="true">
  <ul>
    <li>Welcome 👋</li>
    <li>Login / Register</li>
  </ul>
</nav>
{% endblock breadcrumb %}

{% block body %}
<div class="login-grid">
  {% include "auth/includes/login/login.html" %}
  {% with hidden=True %}
    {% include "auth/includes/register/register.html" %}
  {% endwith %}
</section>
{% endblock body %}
